body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}

.logo h1 a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #ffcc00;
}

.welcome {
    text-align: center; 
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 0;
}


.topics {
    background-color: #f4f4f4;
    height: 100%;
    margin-left: -20px; 
    position: relative;
}

.topics h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.topics ul {
    list-style-type: none;
}

.topics ul li {
    margin-bottom: 10px;
    margin-left: -50px;
}

.topics ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    display: block;
    padding: 10px;
    
}

.topics ul li a:hover {
    background-color: #ffcc00;
    color: white;
}

/* Latest News Section - Align right */
.latest-news {
    border-radius: 8px;
    margin-left: 90px;
}

.latest-news h2 {
    font-size: 30px;
    margin-bottom: 20px;
}


.news-article {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}


.news-article img {
    width: 200px; 
    height: 120px;
    border-radius: 8px;
    margin-right: 20px;
    flex-shrink: 0; /* Ngăn hình ảnh bị co khi nội dung nhiều hơn */
}


.news-article h3 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px; 
}

.news-article a {
    text-decoration: none;
    color: black;
}

.news-article a:hover {
    color: #ffcc00;
}

.news-article p {
    margin-left: 15px;
    font-size: 15px;
    color: #666;
    margin-top: 0px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
