body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h1 a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}


/* Navigation Menu */
nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffcc00;
}

.welcome {
    text-align: center; 
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin-left: 0;
}


.topics {
    background-color: #f4f4f4;
    height: 100%;
    margin-left: -20px; 
    position: relative;
}

.topics h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.topics ul {
    list-style-type: none;
}

.topics ul li {
    margin-bottom: 10px;
}

.topics ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.topics ul li a:hover {
    background-color: #ffcc00;
    color: white;
}

/* Latest News Section - Align right */
.latest-news {
    border-radius: 8px;
}

.latest-news h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}


.news-article {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}


.news-article img {
    width: 200px; 
    height: 120px;
    object-fit: cover; /* Đảm bảo ảnh vừa khít vào khung mà không bị méo */
    border-radius: 8px;
    margin-right: 20px;
    flex-shrink: 0; /* Ngăn hình ảnh bị co khi nội dung nhiều hơn */
}

.news-article-content {
    flex-grow: 1; /* Đảm bảo phần nội dung chiếm hết khoảng trống còn lại */
}

.news-article h3 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0; /* Đảm bảo title bắt đầu thẳng hàng */
    line-height: 1.2;
}

.news-article a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.news-article a:hover {
    color: #ffcc00;
}

.news-article p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-top: 5px;
    margin-bottom: 0; /* Đảm bảo không có khoảng trống không cần thiết dưới description */
    display: -webkit-box; /* Giới hạn dòng mô tả */
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
