body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
}


.header {
    display: flex;
    align-items: center;
    background-color: #333;
    margin-top: 0px;
    justify-content: space-between;
}


.logo h1 a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 40px;
}



.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin-right: 40px;
}

.navbar ul li a:hover {
    color: #ffcc00;
}



.register {
    width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px; 
    box-shadow:  4px 8px rgba(0, 0, 0, 0.1); 
}

.register h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form label {
    display: block;
    color: black;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #ffcc00;
}


.login {
    text-align: center;
    margin-top: 20px;
}

.login p {
    font-size: 14px;
    color: #555;
}

.login button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login button:hover {
    background-color: #ffcc00;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
