body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #f4f4f4;
}


.header {
    display: flex;
    align-items: center;
    background-color: #333;
    margin-top: 0px;
    justify-content: space-between;
}


.logo h1 a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}


nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffcc00;
}

h2 {
    text-align: center;
    margin-top: 20px; 
    font-size: 2rem; 
}

.news-article {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

img {
    width: 100%; 
    height: auto; 
    border-radius: 8px;
   
}   

.news-article h3 {
    font-size: 1.5rem; /* Kích thước chữ cho tiêu đề bài báo */
    margin-bottom: 10px; /* Khoảng cách dưới tiêu đề */
}

.news-article a {
    text-decoration: none; /* Bỏ gạch chân cho tiêu đề bài báo */
    color: #333; /* Màu chữ cho tiêu đề */
    transition: color 0.3s ease; /* Hiệu ứng chuyển màu chữ khi hover */
}

.news-article a:hover {
    color: #007BFF; /* Màu chữ khi hover */
}

.news-article p {
    font-size: 1rem; /* Kích thước chữ cho mô tả bài báo */
    color: #666; /* Màu chữ cho mô tả */
    line-height: 1.6; /* Khoảng cách dòng cho mô tả */
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}